<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <%= link_to 'New Message', new_message_path %>
    </div>
    <div class="span10">
      <h1><%=@channel.name%></h1>
      <% @messages.each do |message| %>
      <div class="row">
          <div class="span2">
            <%
            user = message.senders.map(&:user).first
            if user %>  
              <%= image_tag gravatar_url(user, :big_icon), alt: user.name, title: user.name %>
            <%end%>
          </div>
        <div class="span6">
          <%= to_html(message).html_safe %>
        </div>
        <div class="span2">
          <%=message.created_at.strftime '%B %-d, %Y'%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


