<h1>Listing messages</h1>

<table>
  <tr>
    <th>Senders</th>
    <th>Recipients</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.list_of_senders %></td>
    <td><%= message.list_of_recipients %></td>
    <td><%= to_html(message).html_safe %></td>
    <td><%= link_to 'Show', message %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
